.ContactCover{
    background-size: cover;
    width: 100%;
    height: 100vh;
   
    background-image: url(../img/contact-cover.jpg);
    position: relative;
}
.ContactCover .empty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 99999;
}
.ContactCover  .text h1{
    text-align: center;
    margin-top: 20%;
    font-size: 100px;
    color:  white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px;
}
.ContactCover  .text h1 span{
    font-size: 50px;
    font-weight: 700;
}

.InfoContact{
    margin: auto;
    margin-top:50px;   
}


.InfoContact h2{
    font-weight: bold;

}

.InfoContact .TableHead{
    font-size: 30px;
    font-weight: 500;
}
.InfoContact .information{
    padding-top: 20px;
    font-size: 20px;
    color: rgba(135,79,22,0.8);
}
.contact{
    margin: 50px 10px 30px 10px;
    
    
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}


.logo{
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    background-image: url(../img/20201214_154621.jpg);
    border-radius: 15px 15px 0 0;
}
.contact form{
    
    margin-top: 30px;
    padding: 10px;
    
    
}

.contact form .DivForm{
    margin-top: 20px;
}

::placeholder{
    color: rgba(135,79,22,0.7) !important;
}
.form-control{
    padding: 20px;
    color: rgb(135,79,22) !important;
}
.DivBtn{
    margin: auto;
    width: 100px;
}
.btn{
    width: 100%;
    margin: 30px auto;
    color: white;
    padding: 10px 15px;
    background-color: rgb(135,79,22) ;
}
